html{
    font-family: 'Lato';
    scroll-behavior: smooth;
}
body{
   background-color: #ffff;
}

.container{
    background-color: #ffffff;
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
}

.container .banner {
    background-image: url('EMAIL SEPT/Mask\ Group\ 37.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.container .content1 {
    /* background-image: url('EMAIL SEPT/Rectangle 120.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.container .content2 {
    /* background-image: url('EMAIL SEPT/Rectangle 120.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;

}

h4 {
    color: black;
    text-align: left;
}

tr {
    padding: 0;
}

td {
    padding: 0;
}

img {
    max-width: 50%;
    padding: 10px;
}

.container .daftar {
    background-image: url('EMAIL SEPT/Rectangle 120.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
}

button {
    background-color: transparent;
    color: white;
    border: solid #ffff;
    border-radius: 60px;
    padding: 14px 25px;
}

.container .footer {
    background-color: #414141; 
    text-align: center; 
    padding: 10px;
    padding-bottom: 10px;
}

.container .footer .social {
    padding-right: 40px;
}